<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.astrajingga.monicca">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".auth.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- FcMain -->
        <activity android:name=".Intro"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Signin"
            android:screenOrientation="portrait" />
        <activity android:name=".Signup"
            android:screenOrientation="portrait" />
        <activity android:name=".Main"
            android:screenOrientation="portrait" />

        <!-- financial check -->
        <activity android:name=".features.fc.FcMain"
            android:screenOrientation="portrait" />
        <activity android:name=".features.fc.FcStart"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity android:name=".features.fc.FcResult"
            android:screenOrientation="portrait" />
        <activity android:name=".features.fc.FcHistory"
            android:screenOrientation="portrait" />

        <!-- education plan -->
        <activity android:name=".features.ep.EpMain"
            android:screenOrientation="portrait" />
        <activity android:name=".features.ep.EpStart"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity android:name=".features.ep.EpCalculate"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity android:name=".features.ep.EpResult"
            android:screenOrientation="portrait" />
        <activity android:name=".features.ep.EpHistory"
            android:screenOrientation="portrait" />

        <!-- goal base -->
        <activity android:name=".features.gb.GbMainAlt"
            android:screenOrientation="portrait" />
        <activity android:name=".features.gb.GbStartAlt"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan"/>
        <activity android:name=".features.gb.GbResultAlt"
            android:screenOrientation="portrait" />
        <activity android:name=".features.gb.GbHistoryAlt"
            android:screenOrientation="portrait" />

        <!-- personal advisor -->
        <activity android:name=".features.pa.PaMain"
            android:screenOrientation="portrait" />

        <activity android:name=".settings.Settings"
            android:screenOrientation="portrait" />

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <provider android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider"
            android:exported="true" />

    </application>

</manifest>