<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.astrajingga.monicca">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- MAIN -->
        <activity
            android:name=".intro.IntroActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".SigninActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- SIGN IN -->
        <activity
            android:name=".SignupActivity"
            android:screenOrientation="portrait" />

        <!-- MAIN -->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />

        <!-- FINANCIAL CHECKUP -->
        <activity
            android:name=".features.fc.FcMain"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

        </activity>

        <!-- FINANCIAL CHECKUP START -->
        <activity
            android:name=".features.fc.FcStartAlt"
            android:parentActivityName=".features.fc.FcMain"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".features.fc.FcMain" />

        </activity>

        <!-- FINANCIAL CHECKUP RESULT -->
        <activity
            android:name=".features.fc.FcResultAlt"
            android:parentActivityName=".features.fc.FcStartAlt"
            android:screenOrientation="portrait">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".features.fc.FcStartAlt" />

        </activity>

        <!-- FINANCIAL CHECKUP HISTORY -->

        <!-- EDUCATION PLAN -->
        <activity
            android:name=".features.ep.EpMain"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

        </activity>

        <!-- EDUCATION PLAN START -->
        <activity
            android:name=".features.ep.EpStart"
            android:parentActivityName=".features.ep.EpMain"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".features.ep.EpMain" />

        </activity>

        <!-- EDUCATION PLAN CALCULATE -->
        <activity
            android:name=".features.ep.EpCalculate"
            android:parentActivityName=".features.ep.EpStart"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".features.ep.EpStart" />

        </activity>

        <!-- EDUCATION PLAN RESULT -->
        <activity
            android:name=".features.ep.EpResult"
            android:parentActivityName=".features.ep.EpCalculate"
            android:screenOrientation="portrait">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".features.ep.EpCalculate" />

        </activity>

        <!-- EDUCATION PLAN HISTORY -->

        <!-- GOAL BASE -->
        <activity
            android:name=".features.gb.GbMainAlt"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

        </activity>

        <!-- GOAL BASE START -->
        <activity
            android:name=".features.gb.GbStartAlt"
            android:parentActivityName=".features.gb.GbMainAlt"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".features.gb.GbMainAlt" />

        </activity>

        <!-- GOAL BASE RESULT -->
        <activity
            android:name=".features.gb.GbResultAlt"
            android:parentActivityName=".features.gb.GbStartAlt"
            android:screenOrientation="portrait">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".features.gb.GbStartAlt" />

        </activity>

        <!-- GOAL BASE HISTORY -->

        <!-- PERSONAL ADVISOR -->
        <activity
            android:name=".features.pa.PaMain"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

        </activity>
        <activity
            android:name=".features.pa.PaQuestionOne"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.pa.PaQuestionTwo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.pa.PaQuestionThree"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.pa.PaQuestionFour"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.pa.PaQuestionFive"
            android:screenOrientation="portrait" />

        <!-- MISC -->
        <activity
            android:name=".settings.Settings"
            android:screenOrientation="portrait" />

    </application>

</manifest>